* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Spartan", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg") white;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

.container {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
}

.content:nth-of-type(2) {
  padding: 0 2.5rem;
}

.content .box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .box h1 {
  font-size: 300%;
  font-weight: 700;
  color: #502050;
  max-width: 90%;
}

.content .box p {
  font-size: 15px;
  font-weight: 500;
  max-width: 90%;
  color: #937b92;
  padding: 1rem 0;
}

.content .box .star-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #f7f2f7;
  padding: 1rem 2.5rem;
  border-radius: 0.7rem;
  margin: 1rem 0;
}

.content .box .star-info:nth-of-type(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content .box .star-info:nth-of-type(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content .box .star-info:nth-of-type(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.content .box .star-info img {
  width: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%;
}

.content .box .star-info img:last-of-type {
  margin-right: 1.5rem;
}

.content .box .star-info span {
  font-size: 15px;
  font-weight: 700;
  color: #502050;
}

.content:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-people {
  width: 100%;
  max-width: 425px;
  background: #502050;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
}

.box-people:nth-of-type(2) {
  margin: 2rem 1.5rem 0 1.5rem;
}

.box-people:nth-of-type(3) {
  margin-top: 4rem;
}

.box-people .box-img-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
}

.box-people .box-img-people .people-text {
  color: white;
  font-weight: 500;
}

.box-people .box-img-people .people-text .prof {
  margin: 0;
  color: #ee68a4;
}

.box-people img {
  width: 3rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.5rem;
}

.box-people p:last-of-type {
  margin-top: 0.5rem;
  color: #f7f2f7;
  font-weight: 400;
  line-height: 2;
}

@media screen and (max-width: 790px) {
  body {
    height: auto;
    background: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg") white;
    background-repeat: no-repeat, no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 1.1rem;
  }
  .content .box-people {
    margin-top: 1.5rem;
  }
  .content:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .content .box {
    width: 100%;
    max-width: 420px;
  }
  .content .box h1 {
    font-size: 200%;
    font-weight: 700;
  }
  .content .box .star-info {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .content .box .star-info span {
    margin-top: 0.5rem;
  }
}

.attribution {
  margin: 1rem 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */